<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pen</key>
	<dict>
		<key>PenX</key>
		<integer>131</integer>
		<key>PenY</key>
		<integer>132</integer>
		<key>PenZ</key>
		<integer>133</integer>
		<key>PenRadius</key>
		<integer>134</integer>
		<key>PenAngle</key>
		<integer>135</integer>
		<key>PenDown</key>
		<integer>136</integer>
		<key>PenTiltX</key>
		<integer>137</integer>
		<key>PenTiltY</key>
		<integer>138</integer>
		<key>PenTiltRadius</key>
		<integer>139</integer>
		<key>PenTiltAngle</key>
		<integer>140</integer>
		<key>PenRotation</key>
		<integer>141</integer>
		<key>PenWheel</key>
		<integer>142</integer>
		<key>PenButton1</key>
		<integer>143</integer>
		<key>PenButton2</key>
		<integer>144</integer>
	</dict>
	<key>Wii</key>
	<dict>
		<key>WiiAccelX</key>
		<integer>145</integer>
		<key>WiiAccelY</key>
		<integer>146</integer>
		<key>WiiAccelZ</key>
		<integer>147</integer>
		<key>WiiPitch</key>
		<integer>148</integer>
		<key>WiiRoll</key>
		<integer>149</integer>
		<key>WiiYaw</key>
		<integer>150</integer>
		<key>WiiAccel</key>
		<integer>151</integer>
		<key>WiiBarX</key>
		<integer>152</integer>
		<key>WiiBarY</key>
		<integer>153</integer>
		<key>WiiTrigger</key>
		<integer>154</integer>
		<key>NunAccelX</key>
		<integer>155</integer>
		<key>NunAccelY</key>
		<integer>156</integer>
		<key>NunAccelZ</key>
		<integer>157</integer>
		<key>NunPitch</key>
		<integer>158</integer>
		<key>NunRoll</key>
		<integer>159</integer>
		<key>NunYaw</key>
		<integer>160</integer>
		<key>NunAccel</key>
		<integer>161</integer>
		<key>NunJoyX</key>
		<integer>162</integer>
		<key>NunJoyY</key>
		<integer>163</integer>
		<key>NunTriggerC</key>
		<integer>164</integer>
		<key>NunTriggerZ</key>
		<integer>165</integer>
		<key>WiiButtonA</key>
		<integer>166</integer>
	</dict>
	<key>Special</key>
	<dict>
		<key>Pitch Bend</key>
		<integer>128</integer>
		<key>Channel Pressure</key>
		<integer>129</integer>
	</dict>
</dict>
</plist>
